<header class="sidebar">
  <div class="sidebar-top">
    <a href="/" class="logo">
      <img
        src="https://666forever.github.io/pfseeker-assets/icons/clear-logo.png"
        class="logo-img"
        alt="PFSeeker"
      />
    </a>
  </div>

  <div class="sidebar-middle">
      <a href="/" class="nav-icon-btn" aria-label="Home" data-route="/">
        <img src="https://666forever.github.io/pfseeker-assets/icons/svg/home.svg" class="nav-icon" alt="Home">
      </a>

      <a href="/explore/" class="nav-icon-btn" id="exploreBtn" aria-label="Explore" data-route="/explore">
        <img src="https://666forever.github.io/pfseeker-assets/icons/svg/explore.svg" class="nav-icon" alt="Explore">
      </a>

      <a href="/pfps/" class="nav-icon-btn" aria-label="PFPS" data-route="/pfps">
        <img src="https://666forever.github.io/pfseeker-assets/icons/svg/pfps.svg" class="nav-icon" alt="PFPS">
      </a>

      <a href="/banners/" class="nav-icon-btn" aria-label="Banners" data-route="/banners">
        <img src="https://666forever.github.io/pfseeker-assets/icons/svg/banners.svg" class="nav-icon" alt="Banners">
      </a>

      <a href="/liked/" class="nav-icon-btn" aria-label="Liked" data-route="/liked">
        <img
          src="https://666forever.github.io/pfseeker-assets/icons/svg/liked.svg"
          class="nav-icon"
          alt="Liked"
        />
      </a>
    </div>
</header>




